<h1>Selecting Number</h1>
<select type="number" [(ngModel)]="levelNum" (ngModelChange)="toNumber()">
      <option *ngFor="let level of levels" [ngValue]="level.num">{{level.name}}</option>
    </select>
{{levelNum}}

<hr>

<h1>Selecting object</h1>
<select type="number" [(ngModel)]="selectedLevel">

        <option value="0">北縣</option>
        <option value="1">宜縣</option>

    </select>
{{selectedLevel | json}}

<hr>

<h1>Selecting object with custom compare</h1>
<select type="number" [(ngModel)]="selectedLevelCustomCompare" [compareWith]="compareFn">
      <option *ngFor="let level of levels" [ngValue]="level">{{level.name}}</option>
    </select>
{{selectedLevelCustomCompare | json}}